.btn {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: #b9cd74;
    color: white;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
    max-width: 300px;
    width: 100%;
}

.btn_shadow {
    box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px 0px;
}

.btn_dark {
    background-color: rgb(114, 114, 114);
}